<div class="container">
  <h1>Welcome!</h1>
  <p>Glad you've decided to join us!</p>
    <p>To proceed, please enter a valid username, email and password.</p>

<br>
<form id="login" method="POST" action="/login">
  <div>
    <label for="username">Username</label>
    <input id="username" name="user[username]" type="text" placeholder="Your full name">
  </div>
  <br>
  <div>
    <label for="password">Password</label>
    <input id="password" name="user[password]" type="password" placeholder="Your password">
  </div>
  <br>
  <div>
    <label for="email">Email Address</label>
    <input id="email" name="user[email]" type="text" placeholder="Your email address">
  </div>
  <br>
  <div>
    <input type= "submit" value= "SUBMIT">
  </div>
</form>
<br>
<div class="already"><a href="/users/new">Need to register?</a></div>

<% if @errors %>
<% @errors.each do |error| %>
  <li class="errors"><%= error %></li>
<% end %>
<% end %>
