<h1 class="Welcome"><%= "Sup, #{@user.first_name} #{@user.last_name}? You wanna hang with the King of R&B?"%></h1>

<div>
	<form id="logout" action="/logout" method="get"
	<input type="submit" value="Logout"></input>
</div>



<center><a href="http://1-ps.googleusercontent.com/x/www.dailydawdle.com/images.dailydawdle.com/best-of-really-high-guy-meme-funny1.jpg.pagespeed.ce.nLctd5aYlz.jpg" target="_blank"><img 

	<br>

	<img src="http://nwso.net/wp-content/plugins/php-image-cache/image.php?path=/wp-content/uploads/2011/11/r-kelly-smile.jpg" alt="RnB.">
	<br>
	<br>
	<p class='beast'>You're such a beast.</p>
	<div class="already"><a href="/">Return to base?</a></div>
	<div class="already"><a href="/logout">xDeuces?x</a></div>



